<template>
    <div class="afficheResult list-group-item">
        <a class="link-unstyled font-weight-bold" v-on:click="toggleHide">
            <p>{{ values[1] }}</p>
        </a>
        <ul v-show="!isHidden" class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Livre : </span> {{ values[0] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Nom du sort :</span> {{ values[1] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Ecole :</span> {{ values[2] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Branches :</span> {{ values[3] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Classe et niveau :</span> {{ values[4] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Composantes :</span> {{ values[5] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Temps d'incantation :</span> {{ values[6] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Portée :</span> {{ values[7] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Cible :</span> {{ values[8] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Durée :</span> {{ values[9] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Jet de sauvegarde :</span> {{ values[10] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Résistance :</span> {{ values[11] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Description :</span> {{ values[12] }}</li>
            <li class="list-group-item"><span class="font-weight-bold">Autre :</span> {{ values[13] }}</li>
        </ul>
    </div>
</template>
  
<script>

export default {
    name: "Select",
    props: {
        values: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            isHidden: true
        }
    },
    components: {

    },
    methods: {
        toggleHide() {
            if (this.isHidden) {
                this.isHidden = false;
            } else {
                this.isHidden = true;
            }
        }
    },
    computed: {

    },
};
</script>
  
<style>

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
</style>