<template>
    <div class="afficheResult">
        <ul class="" v-for="value in values">
            <li class="list-group">
                <afficheDetailResultat v-bind:values="value"></afficheDetailResultat>
            </li>
        </ul>
    </div>
</template>
  
<script>
import afficheDetailResultat from "./afficheDetailResultat.vue"

export default {
    name: "Select",
    props: {
        values: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
        }
    },
    components: {
        afficheDetailResultat,
    },
    methods: {
    },
    computed: {

    },
};
</script>
  
<style>

</style>