<template>
    <div class="checkbox">
        <label :for="this.name">Prendre en compte ?</label>
        <input class="ml-2" type="checkbox" :name="this.name" id="check">
    </div>
</template>

<script>

export default {
    name: "Select",
    props: {
        name: {
            type: String,
            required: true
        },
    },
};
</script>

<style scoped></style>