<template>
    <div class="contentConf pl-5">
        <h2 class="title p-3">Selection de recherche des livres</h2>
        <div class="avaibleBooks">
            <AvaibleBook id="Avaible books" label="Livres disponibles :" v-bind:values="this.books" ref="getAvaibleBook">
            </AvaibleBook>
            <button v-on:click="addBook">Ajouter</button>
        </div>
        <div class="selectedBooks">
            <AvaibleBook id="Avaible books" label="Livres sélectionnés :" v-bind:values="this.booksTake"
                ref="getDeleteBook"></AvaibleBook>
            <button v-on:click="deleteBook">Retirer</button>
        </div>
    </div>
</template>
  
<script>
import { sortTable } from '@/assets/data.min'
import AvaibleBook from "./AvaibleBook.vue";
import { Ref } from 'vue';

export default {
    name: "Configuration",
    components: {
        AvaibleBook,
        Ref,
    },
    data() {
        return {
            books: this.availableBooks(),
            booksTake: [],
        }
    },
    mounted:function() {
        this.onLoad();
    },
    methods: {

        getBooks() {
            let books = []; // tableau qui contient les différentes écoles
            sortTable.forEach(sort => {
                if (!books.includes(sort[0])) // évite les doublons
                    books.push(sort[0]);
            });
            return books;
        },
        availableBooks() {
            let books = JSON.parse(localStorage.getItem("books"));
            if (!books) {
                books = this.getBooks();
                localStorage.setItem("books", JSON.stringify(books));
            }
            books.sort();
            return books;
        },
        addBook() {
            let bookName = this.$refs.getAvaibleBook.getBook();
            if (bookName) {
                if(!this.booksTake.includes(bookName)) {
                    this.booksTake.push(bookName);
                }

                const index = this.books.indexOf(bookName);
                this.books.splice(index, 1);

                this.$parent.searchBooks = this.booksTake;
                this.$refs.getDeleteBook.setBook(bookName);
                this.$refs.getAvaibleBook.setBook(this.books[0]);
            }
        },
        deleteBook() {
            let bookName = this.$refs.getDeleteBook.getBook();
            if (bookName) {
                if(!this.books.includes(bookName)) {
                    this.books.push(bookName);
                }

                const index = this.booksTake.indexOf(bookName);
                this.booksTake.splice(index, 1);

                this.$parent.searchBooks = this.booksTake;
                this.$refs.getAvaibleBook.setBook(bookName);
                this.$refs.getDeleteBook.setBook(this.booksTake[0]);
            }
        },
        onLoad() {
            this.$refs.getAvaibleBook.setBook(this.books[0]);
        },
    },
};
</script>
  
<style scoped>
.contentConf {
    background-color: #DDD;
    height: 100vh;
}
</style>
  