<template>
  <div id="content">
    <!-- C'est recherche ça j'ai juste pas lu le sujet-->
    <Search v-show="getContent() === 'recherche'" :books="this.searchBooks"></Search>
    <!-- La conf est ici -->
    <Configuration v-show="getContent() === 'configuration'"></Configuration>
    <!-- Les stats-->
    <Stats v-show="getContent() === 'stats'"></Stats>
  </div>
</template>

<script>
import Search from "./Search.vue";
import Configuration from "./Configuration.vue";
import Stats from "./Stats.vue";

export default {
  name: "Content",
  components: {
    Search,
    Configuration,
    Stats,
},
  data() {
    return {
      nbResults: 0,
      nbRecherche: 0,
      searchBooks: []
    }
  },
  methods : {
    getContent() {
      return this.$parent.content;
    }
  }
};
</script>

<style scoped>
#content {
  flex: 1 1 auto;
  background-color: slategrey;
}
</style>
