<template>
    <footer class="footer bg-dark">
      <div class="container">
        <p class="text-light text-center">Apagnan</p>
      </div>
    </footer>
  </template>
  
  <script>
  export default {
    name: "Footer",
    methods: {
      changeContent (content) {
        this.$parent.content = content;
      }
    }
  };
  </script>
  
  <style scoped>
  a {
    color: red;
    font-size: 1.5em;
  }
  
  a:hover {
    cursor: pointer;
  }
  </style>
  