<template>
  <div class="result">
    <p class="">Nombre de résultats : {{ this.nbResults }}</p>
    <AfficheResultat v-bind:values="searchResult" id=""></AfficheResultat>
    <p>Elements de recherche : {{ this.nomEcole }} {{ this.nomBranche }} {{ this.nomClasse }} {{ this.niveau }}</p>
  </div>
</template>

<script>
import { sortTable } from '@/assets/data.min'
import AfficheResultat from './AfficheResultat.vue'

export default {
  name: "Select",
  props: {
    data_array: {
      type: FormData,
      required: false
    },
    books: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      nbResults: 0,

      nomEcole: null,
      nomBranche: null,
      nomClasse: null,
      niveau: null,
      nom: null,

      check_nomEcole: null,
      check_nomBranches: null,
      check_nomClass: null,
      check_level: null,
      check_name: null,
    }
  },
  components: {
    AfficheResultat,
  },
  computed: {
    searchResult() {
      this.decryptData();
      this.nbResults = 0;
      //occ
      let res = [];
      sortTable.forEach(sort => {
        let checkEcole = false;
        let checkBranche = false;
        let checkClasse = false;
        let checkNiveau = false;
        let checkBook = false;
        let checkname = false;
        if(this.check_name != null) { // la case est cochée
          if(sort[1] == this.nom) {
            checkname = true;
          }
        } else { // case pas cochée
          checkname = true;
        }

        if (this.check_nomEcole != null) { // passage dans le if = prise en compte
          if (sort[2] == this.nomEcole) { // si le nom de l'ecole correspond
            checkEcole = true;  // check ecole donne la persmission de passage
          }
        } else { // Si l'element n'est pas pris en compte
          checkEcole = true; // alors on donne la perm direct
        }
        if (this.check_nomBranches != null) { // pareil que en haut
          if (sort[3] == this.nomBranche) {
            checkBranche = true;
          }
        } else {
          checkBranche = true;
        }

        if (this.check_nomClass != null) { // pareil que en haut
          sort[4].forEach(classe => { // ya des array dans des array c'esr relou le loup
            if (classe[0] == this.nomClasse) {
              checkClasse = true;
            }
          })
        } else {
          checkClasse = true;
        }

        if (this.check_level != null) { // pareil que en haut en haut 
          sort[4].forEach(classe => {
            if (classe[1] == this.niveau) {
              checkNiveau = true;
            }
          })
        } else {
          checkNiveau = true;
        }

        if(this.books.includes(sort[0])) {
          /*console.log(this.books);
          console.log(sort[0]);
          console.log(this.books.includes(sort[0]));*/
          checkBook = true;
        }

        //console.log(checkEcole+"  "+checkBranche+"  "+checkClasse+"  "+checkNiveau);
        if (checkname == true && checkBook == true && checkEcole == true && checkBranche == true && checkClasse == true && checkNiveau == true) {
          //si tout les permissions sont bonnes, alors l'élément corrrespond
          this.nbResults = this.nbResults + 1;
          if(!res.includes(sort)) {
            res.push(sort);
          }
        }
      });
      this.$parent.nbResults = this.nbResults;

      let nombreRes = parseInt(localStorage.getItem("nbRes"));
        if(nombreRes) { // trouve
          nombreRes = nombreRes + this.nbResults;
          localStorage.setItem("nbRes", nombreRes);
        } else {
          localStorage.setItem("nbRes", this.nbResults);
        }
      return res;
    },
  },
  methods: {
    decryptData() {
      if (this.data_array) {
        this.nomEcole = this.data_array.get('ecoles');
        this.nomBranche = this.data_array.get('branches');
        this.nomClasse = this.data_array.get('classes');
        this.niveau = this.data_array.get('niveau');
        this.nom = this.data_array.get("name");

        this.check_nomEcole = this.data_array.get('check-ecoles');
        this.check_nomBranches = this.data_array.get('check-branches');
        this.check_nomClass = this.data_array.get('check-classes');
        this.check_level = this.data_array.get('check-niveau');
        this.check_name = this.data_array.get('check-name');

        let recherche = parseInt(localStorage.getItem("nbSearch"));
        if(recherche) { // trouve
          recherche = recherche +1 ;
          localStorage.setItem("nbSearch", recherche);
        } else {
          localStorage.setItem("nbSearch", 1);
        }
      }
    }
  }
};
</script>

<style>
.result {
  padding: 50px;
  background-color: #AAA;
}
</style>