<template>
  <div class="recherche">
    <form id="config">
      <SearchBar id="name" label="Nom : "></SearchBar>
      <Select id="ecoles" label="École :" v-bind:values="ecoles"></Select>
      <Select id="branches" label="Search branch :" v-bind:values="branches"></Select>
      <Select id="classes" label="Search class :" v-bind:values="classes"></Select>
      <Select id="niveau" label="Search by level :" v-bind:values="niveau"></Select>
      <button id="recherche" type="button" v-on:click="recherche">Recherche</button>
    </form>
    <Recherche :data_array="this.data" :books="this.books"></Recherche>
  </div>
</template>

<script>
import { sortTable } from '@/assets/data.min'
import Select from "./Select.vue";
import Recherche from "./Recherche.vue";
import SearchBar from './SearchBar.vue';

export default {
  name: "Search",
  components: {
    Select,
    Recherche,
    SearchBar,
  },
  props: {
      books: {
        type: Array,
        required: false
      },
    },
  data() {
    return {
      ecoles: this.initSchools(),
      branches: this.initBranches(),
      classes: this.initClasses(),
      niveau: this.initNiveau(),
      data: null,
      data_array: null,
      nbResults: 0,
    }
  },
  methods: {


    getSchools() {
      let schools = []; // tableau qui contient les différentes écoles
      sortTable.forEach(sort => {
        if (!schools.includes(sort[2])) // évite les doublons
          schools.push(sort[2]);
      });
      return schools;
    },
    initSchools() {
      let schools = JSON.parse(localStorage.getItem("ecoles"));
      if (!schools) {
        schools = this.getSchools();
        localStorage.setItem("ecoles", JSON.stringify(schools));
      }
      schools.sort();
      return schools;
    },



    getBranches() {
      let branches = []; // tableau qui contient les différentes écoles
      sortTable.forEach(sort => {
        if (sort[3].length != 0)
          sort[3].forEach(sort2 => {
            if (!branches.includes(sort2) && sort2 != null) {
              branches.push(sort2);
            }

          });

      });
      return branches;
    },
    initBranches() {
      let branches = JSON.parse(localStorage.getItem("branches"));
      if (!branches) {
        branches = this.getBranches();
        localStorage.setItem("branches", JSON.stringify(branches));
      }
      branches.sort();
      return branches;
    },





    getClasses() {
      let classes = []; // tableau qui contient les différentes écoles
      sortTable.forEach(sort => {
        sort[4].forEach(class2 => {
          if (!classes.includes(class2[0]))
            classes.push(class2[0]);
        });
      });
      return classes;
    },
    initClasses() {
      let classes = JSON.parse(localStorage.getItem("classes"));
      if (!classes) {
        classes = this.getClasses();
        localStorage.setItem("classes", JSON.stringify(classes));
      }
      classes.sort();
      return classes;
    },



    getNiveau() {
      let niveau = []; // tableau qui contient les différentes écoles
      sortTable.forEach(sort => {
        sort[4].forEach(class2 => {
          if (!niveau.includes(class2[1]))
            niveau.push(class2[1]);
        });
      });
      return niveau;
    },
    initNiveau() {
      let niveau = JSON.parse(localStorage.getItem("niveau"));
      if (!niveau) {
        niveau = this.getNiveau();
        localStorage.setItem("niveau", JSON.stringify(niveau));
      }
      niveau.sort();
      return niveau;
    },

    recherche() {
      this.$parent.nbResults = this.nbResults;
      this.$parent.nbRecherche = this.$parent.nbRecherche + 1;
      const form = document.getElementById("config");
      this.data = new FormData(form);
      /* - Pour le daron tkt - enfaite non jai tout changé - */
      //console.log(this.data);
    },
  }
};
</script>

<style scoped>
#config {
  padding: 4em;
  font-size: 1.2em;
  color: black;
  background-color: #EEE;
}
</style>
