<template>
    <div class="form-group row">
        <label v-bind:for="id" class="col-sm-2 col-form-label">{{ label }}</label>
        <div>
            <textarea id="name" name="name" rows="1" cols="20"></textarea>
        </div>
        <CheckCompte v-bind:name="'check-' + this.id"></CheckCompte>
    </div>
</template>
  
<script>
import CheckCompte from './CheckCompte.vue';

export default {
    name: "Select",
    components: {
        CheckCompte,
    },
    props: {
        id: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: true
        },
    },
    methods: {
        getName() {
            
        }
    }
};
</script>
  
<style scoped>
textarea {
  resize: none;
}
</style>