<template>
    <div class="contentStat pl-5">
        <h2 class="title p-3">Statistiques</h2>
        <div class="nbResults">
            <h4>Nombre de résultat totaux : </h4>
            <p>{{ this.nbTot }}</p>
        </div>
        <div class="nbRecherche">
            <h4>Nombre de recherche effectuées : </h4>
            <p>{{ this.nbRecherche }}</p>
        </div>
    </div>
</template>
  
<script>

export default {
    name: "Statistiques",
    props: {
    },
    components: {
    },
    data() {
        return {
            nbTot: this.getResults(),
            nbRecherche: this.getNbSearch(),
        }
    },
    computed: {
 
    },
    methods: {
        getResults() {
            let recherche = localStorage.getItem("nbSearch");
            return recherche;
        },
        getNbSearch() {
            let nombreRes = parseInt(localStorage.getItem("nbRes"));
            return nombreRes;
        }
        
    }
};
</script>
  
<style scoped>
.contentStat {
    background-color: #DDD;
    height: 100vh;
}
</style>
  